*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #EFEFEF;
}

i{
    pointer-events: none;
}

.sequencer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.kick-track,
.snare-track,
.hihat-track{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 5rem;
    align-items: center;
}

.kick-pad,.snare-pad,.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick,.snare,.hihat{
    display: flex;
    flex-wrap: wrap;

}

.kick-pad{
    background-color: #F2D7D9;
}

.kick-pad.active{
    background-color: #f4a7ac;
}

.snare-pad{
    background-color: #D3CEDF;
}

.snare-pad.active{
    background-color: #a892dc;
}

.hihat-pad{
    background-color: #9CB4CC;
}

.hihat-pad.active{
    background-color: #81a6cc;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button{
    border: none;
    border-radius: 8px;
    background-color: #7F8487;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 5rem;
    cursor: pointer;
}

.play{
    padding: 1rem 2rem;
    background-color: #7F8487;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3rem;
}

.play.active{
    background-color: #3f4243;
}

select{
    margin: 1rem;
    padding: 1rem;
    appearance: none;
    border-radius: 8px;
    outline: none;
}

@keyframes playTrack{
    from{   
        transform: scale(1);
    }to{
        transform: scale(1.2);
    }
}